---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: reflector
  namespace: flux-system
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 9.1.45
  url: oci://ghcr.io/emberstack/helm-charts/reflector
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reflector
  namespace: flux-system
spec:
  targetNamespace: kube-system
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: reflector
    namespace: flux-system
  values:
    configuration:
      logging:
        minimumLevel: Information
    livenessProbe:
      periodSeconds: 120
    readinessProbe:
      periodSeconds: 60
