deploymentStrategy:
  type: Recreate
admin:
  existingSecret: grafana-admin-secret
env:
  GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
  GF_EXPLORE_ENABLED: true
  GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS: natel-discrete-panel,pr0ps-trackmap-panel,panodata-map-panel,victoriametrics-logs-datasource
  GF_SECURITY_ANGULAR_SUPPORT_ENABLED: true
  GF_SERVER_ROOT_URL: https://grafana.kosh.casa
grafana.ini:
  analytics:
    check_for_updates: false
    check_for_plugin_updates: false
    reporting_enabled: false
  auth.anonymous:
    enabled: false
    org_id: 1
    org_name: Main Org.
    org_role: Viewer
  news:
    news_feed_enabled: false
datasources:
  datasources.yaml:
    apiVersion: 1
    deleteDatasources:
      - { name: Alertmanager, orgId: 1 }
      - { name: Prometheus, orgId: 1 }
    datasources:
      - name: Prometheus
        type: prometheus
        uid: prometheus
        access: proxy
        url: http://vmsingle-stack.observability.svc.cluster.local:8429
        isDefault: true
      - name: Alertmanager
        type: alertmanager
        uid: alertmanager
        access: proxy
        url: http://vmalertmanager-stack.observability.svc.cluster.local:9093
        jsonData:
          implementation: prometheus
      - name: VictoriaLogs
        type: victoriametrics-logs-datasource
        access: proxy
        url: http://victoria-logs-server.observability.svc.cluster.local:9428

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: default
        orgId: 1
        folder: ""
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default
      - name: flux
        orgId: 1
        folder: Flux
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/flux
      - name: kubernetes
        orgId: 1
        folder: Kubernetes
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/kubernetes
      - name: unifi
        orgId: 1
        folder: Unifi
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/unifi
      - name: envoy
        orgId: 1
        folder: Envoy
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/envoy
      - name: victoria-metrics
        orgId: 1
        folder: VictoriaMetrics
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/victoria-metrics
dashboards:
  default:
    cloudflared:
      # renovate: depName="Cloudflare Tunnels (cloudflared)"
      gnetId: 17457
      revision: 6
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    external-dns:
      # renovate: depName="External-dns"
      gnetId: 15038
      revision: 3
      datasource: Prometheus
    node-exporter-full:
      # renovate: depName="Node Exporter Full"
      gnetId: 1860
      revision: 41
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    prometheus:
      # renovate: depName="Prometheus"
      gnetId: 19105
      revision: 7
      datasource: Prometheus
    smartctl-exporter:
      # renovate: depName="SMARTctl Exporter Dashboard"
      gnetId: 22604
      revision: 2
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    gatus:
      url: https://raw.githubusercontent.com/TwiN/gatus/master/.examples/docker-compose-grafana-prometheus/grafana/provisioning/dashboards/gatus.json
      datasource: Prometheus
    volsync:
      # renovate: depName="VolSync Dashboard"
      gnetId: 21356
      revision: 3
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
        - { name: VAR_REPLICATIONDESTNAME, value: .*-dst }
  flux:
    flux-cluster:
      url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/cluster.json
      datasource: Prometheus
    flux-control-plane:
      url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/control-plane.json
      datasource: Prometheus
    flux-logs:
      url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/logs.json
      datasource: Prometheus
  kubernetes:
    kubernetes-api-server:
      # renovate: depName="Kubernetes / System / API Server"
      gnetId: 15761
      revision: 19
      datasource: Prometheus
    kubernetes-coredns:
      # renovate: depName="Kubernetes / System / CoreDNS"
      gnetId: 15762
      revision: 20
      datasource: Prometheus
    kubernetes-global:
      # renovate: depName="Kubernetes / Views / Global"
      gnetId: 15757
      revision: 43
      datasource: Prometheus
    kubernetes-namespaces:
      # renovate: depName="Kubernetes / Views / Namespaces"
      gnetId: 15758
      revision: 42
      datasource: Prometheus
    kubernetes-nodes:
      # renovate: depName="Kubernetes / Views / Nodes"
      gnetId: 15759
      revision: 37
      datasource: Prometheus
    kubernetes-pods:
      # renovate: depName="Kubernetes / Views / Pods"
      gnetId: 15760
      revision: 36
      datasource: Prometheus
    kubernetes-volumes:
      # renovate: depName="K8s / Storage / Volumes / Cluster"
      gnetId: 11454
      revision: 14
      datasource: Prometheus
  unifi:
    unifi-insights:
      # renovate: depName="UniFi-Poller: Client Insights - Prometheus"
      gnetId: 11315
      revision: 9
      datasource: Prometheus
    unifi-network-sites:
      # renovate: depName="UniFi-Poller: Network Sites - Prometheus"
      gnetId: 11311
      revision: 5
      datasource: Prometheus
    unifi-uap:
      # renovate: depName="UniFi-Poller: UAP Insights - Prometheus"
      gnetId: 11314
      revision: 10
      datasource: Prometheus
    unifi-usw:
      # renovate: depName="UniFi-Poller: USW Insights - Prometheus"
      gnetId: 11312
      revision: 9
      datasource: Prometheus
    unifi-pdu:
      # renovate: depName="UniFi-Poller: PDU Insights - Prometheus"
      gnetId: 23027
      revision: 1
      datasource: Prometheus
  zfs:
    # renovate: depName="ZFS"
    gnetId: 7845
    revision: 4
    datasource: Prometheus
  victoria-metrics:
    backupmanager:
      url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/backupmanager.json
      datasource: Prometheus
    clusterbytenant:
      url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/clusterbytenant.json
      datasource: Prometheus
    operator:
      url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/operator.json
      datasource: Prometheus
    victorialogs:
      url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/victorialogs.json
      datasource: Prometheus
    victoriametrics-cluster:
      url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/victoriametrics-cluster.json
      datasource: Prometheus
    victoriametrics:
      url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/victoriametrics.json
      datasource: Prometheus
    vmagent:
      url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/vmagent.json
      datasource: Prometheus
    vmalert:
      url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/vmalert.json
      datasource: Prometheus
    vmauth:
      url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/vmauth.json
      datasource: Prometheus
  envoy:
    envoy-clusters:
      url: https://raw.githubusercontent.com/envoyproxy/gateway/refs/heads/main/charts/gateway-addons-helm/dashboards/envoy-clusters.json
      datasource: Prometheus
    envoy-gateway-global:
      url: https://raw.githubusercontent.com/envoyproxy/gateway/refs/heads/main/charts/gateway-addons-helm/dashboards/envoy-gateway-global.json
      datasource: Prometheus
    envoy-proxy-global:
      url: https://raw.githubusercontent.com/envoyproxy/gateway/refs/heads/main/charts/gateway-addons-helm/dashboards/envoy-proxy-global.json
      datasource: Prometheus
    global-ratelimit:
      url: https://raw.githubusercontent.com/envoyproxy/gateway/refs/heads/main/charts/gateway-addons-helm/dashboards/global-ratelimit.json
      datasource: Prometheus
sidecar:
  image:
    registry: ghcr.io
    repository: home-operations/k8s-sidecar
    tag: 1.30.7@sha256:3b6444d91c6e69a9e07c5e55419452d967d18c833d88b36277dc2021b708f621
  dashboards:
    enabled: true
    searchNamespace: ALL
    label: grafana_dashboard
    folderAnnotation: grafana_folder
    provider:
      disableDelete: true
      foldersFromFilesStructure: true
  datasources:
    enabled: true
    searchNamespace: ALL
    labelValue: ""
plugins:
  - grafana-clock-panel
  - grafana-piechart-panel
  - grafana-worldmap-panel
  - natel-discrete-panel
  - pr0ps-trackmap-panel
  - vonage-status-panel
  - victoriametrics-logs-datasource
serviceMonitor:
  enabled: true
route:
  main:
    enabled: true
    hostnames: ["{{ .Release.Name }}.kosh.casa"]
    parentRefs:
      - name: internal
        namespace: kube-system
        sectionName: https
persistence:
  enabled: false
testFramework:
  enabled: false
